# These are required

DATABASE_URL
RACK_ENV
RAILS_ENV
ADMIN_NAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password123
DOMAIN_NAME=engagement.dev
SECRET_KEY_BASE
POSTGRES_USERNAME
POSTGRES_PASSWORD
