<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-6 large-7 large-offset-1 medium-offset-1 columns hero">
      <h1>Engagement</h1>
      <h5>User Engagement Metrics</h5>
      <%= link_to "Get Started", new_user_registration_path, class: "large button" %>
    </div>
  </div>
</section>
