<div class="row" style="margin-top:4rem">
  <div class="large-5 large-offset-1 columns">
    <div class="row">
      <h4>Choose from the options on the right to get started</h4>
      <h6>ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
      <div style="text-align: center"><i style="font-size:10rem" class="icon-line-graph"></i></div>
    </div>
  </div>
  <div class="large-5 columns">
    <div class="row">
      <% dashboard_sections.each do |section| %>
        <div class="column">
          <div class="media-object">
            <div class="media-object-section middle">
              <img src="//placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="media-object-section middle">
              <h4 style="display: inline-block"><%= link_to section.titleize, send("dashboard_#{section}_path") %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>