.nav {
  a, i { color: $whitesmoke; }

  li:not(:last-child) {
    color: $whitesmoke;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid $light-purple;
  }

  .nav_link {
    display: inline-block;
    height: 2.8rem;
    line-height: 2.8rem;
  }
}