.nav {
  a, i { color: $whitesmoke; }

  li {
    font-size: 0.9rem;
  }

  .nav_link {
    display: inline-block;
    height: 2.8rem;
    line-height: 2.8rem;
  }

  .dropdown_profile {
    & > li {
      padding: 0 1rem;
      border-left: 1px solid $whitesmoke;
      border-right: 1px solid $whitesmoke;
    }

    .submenu {
      padding: 0.5rem;
      border: 1px solid $light-purple;

      li {
        padding: 0.5rem;
      }

      &:after, &:before {
        bottom: 100%;
        left: 75%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-bottom-color: $dark-purple;
        border-width: 15px;
        margin-left: -15px;
      }

      &:before {
        border-bottom-color: $light-purple;
        border-width: 17px;
        margin-left: -17px;
      }
    }
  }
}