.sub_nav {
  -webkit-box-shadow: 0px 1px 1px #585dbb;
  -moz-box-shadow: 0px 1px 1px #585dbb;
  box-shadow: 0px 1px 1px #585dbb;
  color: $light-purple;
  background-color: $light-purple;

  i { color: $whitesmoke; }

  ul {
    margin-bottom: 0;
    background-color: $light-purple;
  }

  li, em {
    font-weight: bold;
    font-size: 0.75rem;
    color: $super-light-purple;
    padding: 0 0.5rem;
    display: inline-block;
    text-transform: uppercase;
  }
}