.sub_nav {
  -webkit-box-shadow: 0px 1px 1px #3e3f44;
  -moz-box-shadow: 0px 1px 1px #3e3f44;
  box-shadow: 0px 1px 1px #3e3f44;
  border-top: 1px solid #555665;
  color: $light-purple;
  background-color: $light-purple;

  i, li, em, a { color: $ultra-light-purple; }

  ul {
    margin-bottom: 0;
    background-color: $light-purple;
  }

  li, em {
    font-weight: bold;
    font-size: 0.70rem;
    padding: 0 0.5rem;
    letter-spacing: 0.05rem;
    display: inline-block;
    text-transform: uppercase;
  }
}