.text-img {
  background: asset-url('paper.svg') no-repeat;
  background-size: cover;
  min-height: calc(100px + 2rem);
  background-position: top;
}

small {
  color: #8a8a8a;
  display: block;
  font-size: 0.7rem !important;
}

.callout h4, .callout h6 {
  letter-spacing: -0.05em;
  color: $light-purple;
}

.callout, .table {
  box-shadow: 4px 4px #edecec;

  ol, li {
    font-size: 0.75rem;
  }
}

.callout-inner {
  text-align:center;
  clear:both;
  margin-top: 2rem;
}

.category {
  display: inline-block;
  padding: 0rem 0.1rem;
  color: $dark-purple;
  letter-spacing: 0.1rem;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $ultra-light-purple;
}
