.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: #7F8AA2;

  ul {
    padding: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    line-height: 1.1em;
    padding: 0 0.7em;

    h4 {
      letter-spacing: -1px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    display: block;
  }
}
