body.pages, body.sessions, body.registrations {
  background: $dark-purple;
}

.hero {
  color: #FFF;
  padding-top: 3rem;

  h1 {
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  a {
    margin-top: 1rem;
  }
}

.authform {
  background-color: #FFF;
  padding: 4rem;
}
