<% flash.each do |name, msg| %>
  <div class="alert callout" data-closable>
    <h6><%= msg %></h6>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
