<div class="top-bar nav">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to(image_tag("engage-logo-multicolor-masked-dark.png", size: "110x49"), root_url, style: "padding:0") %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <div class="main-menu-right">
      <ul class="menu simple">
        <li><span><i class="icon-bell"></i></span></li>
        <li>
          <ul class="dropdown menu" data-dropdown-menu>
            <% if user_signed_in? %>
              <li>
                <a><%= current_user.name %></a>
                <ul class="menu">
                  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
                 </ul>
               </li>
            <% end %>
          </ul>
        </li>
        <li><img src="http://placehold.it/50x50"></li>
      </ul>
    </div>
  </div>
</div>