<% if user_signed_in? %>
  <li><span><i class="icon-bell"></i></span></li>
  <li>
    <ul class="dropdown menu" data-dropdown-menu>
      <% if user_signed_in? %>
        <li>
          <a><%= current_user.name %></a>
          <ul class="menu">
            <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
           </ul>
         </li>
      <% end %>
    </ul>
  </li>
  <li><img src="http://placehold.it/40x40"></li>
<% else %>
  <li><%= link_to 'Login in', new_user_session_path, class: "nav_link" %></li>
  <li><%= link_to 'Sign up', new_user_registration_path, class: "nav_link" %></li>
<% end %>