<div class="top-bar nav">
  <div class="top-bar-left">
    <div class="top-bar-title">
      <span class="menu-text"><%= link_to(image_tag("engage.png", size: "110x49"), root_url, style: "padding:0") %></li>
    </div>
  </div>
  <div class="top-bar-right">
    <div class="main-menu-right">
      <ul class="menu simple">
        <%= render "nav_links_for_auth" %>
      </ul>
    </div>
  </div>
</div>
