<div class="top-bar sub_nav" style="text-align:center">
  <div style="position:absolute" class="top-bar-left">
    <span class="menu-text">
      <i class="icon-search"></i>
    </span>
  </div>
  <div class="top-bar-center">
    <span>
      <ul>
        <li><i class="icon-line-graph"></i><%= link_to "Events", dashboard_events_path %></li><em>•</em>
        <li><i class="icon-mail"></i><%= link_to "Notifications", dashboard_notifications_path %></li><em>•</em>
        <li><i class="icon-text-doc"></i><%= link_to "Reports", dashboard_reports_path %></li><em>•</em>
        <li><i class="icon-light-bulb"></i><%= link_to "Insights", dashboard_insights_path %></li>
      </ul>
    </span>
  </div>
</div>