<div class="top-bar sub_nav" style="text-align:center">
  <div style="position:absolute" class="top-bar-left">
    <span class="menu-text">
      <i class="icon-search"></i>
    </span>
  </div>
  <div class="top-bar-center">
    <span>
      <ul>
        <li><i class="icon-line-graph"></i>Events</li><em>•</em>
        <li><i class="icon-bar-graph"></i>Stats</li><em>•</em>
        <li><i class="icon-text-doc"></i>Reports</li><em>•</em>
        <li><i class="icon-cog"></i>Settings</li>
      </ul>
    </span>
  </div>
</div>