<div class="row" style="margin-top: 2rem">
  <div class="large-6 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>
          <span class="show-for-sr">Current: </span> Events
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4 class="category">API Keys</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @api_keys.each do |key| %>
            <tr>
              <td><%= key.display_name %></td>
              <td>ACTIVE</td>
              <td><%= link_to "Go to Events", dashboard_event_path(key.uuid) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
