<div class="large-12 columns">
  <section>
    <table>
      <thead>
        <tr>
          <th>Row Id</th>
          <th width="100%">Created At</th>
          <th>Source URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @query_results.present? %>
          <% @query_results.values.each_with_index do |event, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= event.created_at %></td>
              <td><%= event.source_url %></td>
              <td><%= link_to("View", dashboard_event_detail_path(@api_key.uuid, event.uuid)) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">No Events</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>
