<div class="large-2 columns">
  sidebar
</div>
<div class="large-10 columns">
  <section>
    <table>
      <thead>
        <tr>
          <th>Row Id</th>
          <th width="100%">Created At</th>
          <th>Source URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @query_results.activities.each_with_index do |event, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= event.created_at %></td>
            <td><%= event.source_url %></td>
            <td><%= link_to("", "") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>
