<div class="large-12 columns">
  <div class="row" style="margin-top: 2rem">
    <div class="large-6 columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Events", dashboard_event_path(@api_key.uuid) %></li>
          <li>
            <span class="show-for-sr">Current: </span> Details
          </li>
        </ul>
      </nav>
    </div>
    <div class="large-6 columns">
      <div class="callout">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="callout clearfix">
        <small class="float-left">Score History</small>
        <small class="float-right">X</small>
        <div class="float-center" style="text-align:center; clear:both">
          <%= line_chart @line_chart.data, @line_chart.options %>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="callout clearfix">
        <small class="float-left">Latest Engage Score</small>
        <small class="float-right">X</small>
        <div class="float-center" style="text-align: center; clear:both">
          <h2><%= number_with_precision(@result.values.first.score, precision: 2) %> / 250 </h2>
        </div>
        <div class="float-center" style="clear:both; text-align:center">
          <div class="counter"> <span class="speedometer"></span>
            <span class="needle"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="callout clearfix">
        <small class="float-left">History</small>
        <small class="float-right">X</small>
      </div>
    </div>
  </div>
</div>